.card-div {
  max-width: 300px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.865);
  color: black;
  padding: 5px;
  margin-bottom: 15px;
}

img {
  max-width: 300px;
}

h3 {
  margin-top: 0;
}

.button-div {
  display: flex;
  justify-content: space-evenly;

}

.link-btn {
  background-color: rgb(164, 196, 191);
  color: black;
  border-radius: 8px;
  margin-bottom: 5px;
}

.delete-btn {
  background-color: rgb(227, 164, 164);
  color: black;
  border-radius: 8px;
  margin-bottom: 5px;
}

.link-para {
  margin: 0;
}

