.navbar-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  background-color: #b8e6b3;
}

button {
  background-color: #3F2A2B;
  color: whitesmoke;
  border-radius: 8px;
  margin-bottom: 5px;
  font-weight: 900;
}

